li:nth-child(even){
	background: #376F70;
}

li:nth-child(odd){
	background:#BEEEEF
}

li:nth-child(10){
	margin-bottom:50px;
}

li:last-child{
	margin-bottom:inherit;
}

.photogrid{
	display:grid;
	grid-template-columns: 1fr;
}

img:hover{
	box-shadow: 10px 10px #376F70;
}

*:focus{
	box-shadow: 10px 10px #376F70
}

